body {
    background-color:black;
    color: white;
}

button {
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 200%;
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom:10px;
}

label{
    border-style: solid;
    border-color: dimgray;
    border-bottom-width:1px;
    font-weight: bold;
    font-size: 200%;
    display: block;
    margin:auto;
    text-align:center;
    width:50%;
}

h1{
    text-align:center;
}